/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.links,
.links:link,
.links:hover,
.links:active {
  color: black;
}

.headerLogo {
  width: 32px;
}

/* MAIN */
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buisnessCard {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid black;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.15);
}

.cardText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cardText h2,
.cardText h4,
.cardText p {
  margin-block: 8px;
}

.cardImg {
  width: 50%;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
